TMobile/WinTier/Service References/LoaiSanPham_ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
  <xs:element name="GetLoaiSanPhamById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoaiSanPhamByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetLoaiSanPhamByIdResult" nillable="true" type="q1:LoaiSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLoaiSanPham">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLoaiSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetAllLoaiSanPhamResult" nillable="true" type="q2:ArrayOfLoaiSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLoaiSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="obj" nillable="true" type="q3:LoaiSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLoaiSanPhamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoaiSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="obj" nillable="true" type="q4:LoaiSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoaiSanPhamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLoaiSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLoaiSanPhamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>