TMobile/WinTier/Service References/LoaiSanPham_ServiceReference/WcfServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoaiSanPham">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaLoai" type="xs:int" />
      <xs:element minOccurs="0" name="MoTaLoai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenLoai" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoaiSanPham" nillable="true" type="tns:LoaiSanPham" />
  <xs:complexType name="ArrayOfLoaiSanPham">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoaiSanPham" nillable="true" type="tns:LoaiSanPham" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoaiSanPham" nillable="true" type="tns:ArrayOfLoaiSanPham" />
</xs:schema>