TMobile/WinTier/Service References/NhaSanXuat_ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NhaSanXuatService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INhaSanXuatService_GetNhaSanXuatById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNhaSanXuatById" />
  </wsdl:message>
  <wsdl:message name="INhaSanXuatService_GetNhaSanXuatById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNhaSanXuatByIdResponse" />
  </wsdl:message>
  <wsdl:message name="INhaSanXuatService_GetAllNhaSanXuat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNhaSanXuat" />
  </wsdl:message>
  <wsdl:message name="INhaSanXuatService_GetAllNhaSanXuat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNhaSanXuatResponse" />
  </wsdl:message>
  <wsdl:message name="INhaSanXuatService_InsertNhaSanXuat_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNhaSanXuat" />
  </wsdl:message>
  <wsdl:message name="INhaSanXuatService_InsertNhaSanXuat_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNhaSanXuatResponse" />
  </wsdl:message>
  <wsdl:message name="INhaSanXuatService_UpdateNhaSanXuat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNhaSanXuat" />
  </wsdl:message>
  <wsdl:message name="INhaSanXuatService_UpdateNhaSanXuat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNhaSanXuatResponse" />
  </wsdl:message>
  <wsdl:message name="INhaSanXuatService_DeleteNhaSanXuat_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNhaSanXuat" />
  </wsdl:message>
  <wsdl:message name="INhaSanXuatService_DeleteNhaSanXuat_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNhaSanXuatResponse" />
  </wsdl:message>
  <wsdl:portType name="INhaSanXuatService">
    <wsdl:operation name="GetNhaSanXuatById">
      <wsdl:input wsaw:Action="http://tempuri.org/INhaSanXuatService/GetNhaSanXuatById" message="tns:INhaSanXuatService_GetNhaSanXuatById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhaSanXuatService/GetNhaSanXuatByIdResponse" message="tns:INhaSanXuatService_GetNhaSanXuatById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNhaSanXuat">
      <wsdl:input wsaw:Action="http://tempuri.org/INhaSanXuatService/GetAllNhaSanXuat" message="tns:INhaSanXuatService_GetAllNhaSanXuat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhaSanXuatService/GetAllNhaSanXuatResponse" message="tns:INhaSanXuatService_GetAllNhaSanXuat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNhaSanXuat">
      <wsdl:input wsaw:Action="http://tempuri.org/INhaSanXuatService/InsertNhaSanXuat" message="tns:INhaSanXuatService_InsertNhaSanXuat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhaSanXuatService/InsertNhaSanXuatResponse" message="tns:INhaSanXuatService_InsertNhaSanXuat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNhaSanXuat">
      <wsdl:input wsaw:Action="http://tempuri.org/INhaSanXuatService/UpdateNhaSanXuat" message="tns:INhaSanXuatService_UpdateNhaSanXuat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhaSanXuatService/UpdateNhaSanXuatResponse" message="tns:INhaSanXuatService_UpdateNhaSanXuat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNhaSanXuat">
      <wsdl:input wsaw:Action="http://tempuri.org/INhaSanXuatService/DeleteNhaSanXuat" message="tns:INhaSanXuatService_DeleteNhaSanXuat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhaSanXuatService/DeleteNhaSanXuatResponse" message="tns:INhaSanXuatService_DeleteNhaSanXuat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INhaSanXuatService" type="tns:INhaSanXuatService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNhaSanXuatById">
      <soap:operation soapAction="http://tempuri.org/INhaSanXuatService/GetNhaSanXuatById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNhaSanXuat">
      <soap:operation soapAction="http://tempuri.org/INhaSanXuatService/GetAllNhaSanXuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNhaSanXuat">
      <soap:operation soapAction="http://tempuri.org/INhaSanXuatService/InsertNhaSanXuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNhaSanXuat">
      <soap:operation soapAction="http://tempuri.org/INhaSanXuatService/UpdateNhaSanXuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNhaSanXuat">
      <soap:operation soapAction="http://tempuri.org/INhaSanXuatService/DeleteNhaSanXuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NhaSanXuatService">
    <wsdl:port name="BasicHttpBinding_INhaSanXuatService" binding="tns:BasicHttpBinding_INhaSanXuatService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/NhaSanXuatService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>