TMobile/WinTier/Service References/NhaSanXuat_ServiceReference/WcfServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NhaSanXuat">
    <xs:sequence>
      <xs:element minOccurs="0" name="GioiThieuNSX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaNSX" type="xs:int" />
      <xs:element minOccurs="0" name="TenNSX" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NhaSanXuat" nillable="true" type="tns:NhaSanXuat" />
  <xs:complexType name="ArrayOfNhaSanXuat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NhaSanXuat" nillable="true" type="tns:NhaSanXuat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNhaSanXuat" nillable="true" type="tns:ArrayOfNhaSanXuat" />
</xs:schema>