TMobile/WinTier/Service References/DonDatHang_ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
  <xs:element name="GetDonDatHangById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonDatHangByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetDonDatHangByIdResult" nillable="true" type="q1:DonDatHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDonDatHang">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDonDatHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetAllDonDatHangResult" nillable="true" type="q2:ArrayOfDonDatHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDonDatHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="obj" nillable="true" type="q3:DonDatHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDonDatHangResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDonDatHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="obj" nillable="true" type="q4:DonDatHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDonDatHangResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDonDatHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDonDatHangResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxDonHangId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxDonHangIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaxDonHangIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongKeDoanhThu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ngaytu" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ngayden" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongKeDoanhThuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="ThongKeDoanhThuResult" nillable="true" type="q5:ArrayOfDonDatHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>