TMobile/WinTier/Service References/DonDatHang_ServiceReference/WcfServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DonDatHang">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiaChiNhan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiaChiTT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DienThoaiNhan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DienThoaiTT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailKhachHang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GhiChu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaDonDatHang" type="xs:int" />
      <xs:element minOccurs="0" name="MaKhachHang" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaNhanVien" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NgayGiao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NgayTao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TenKhachHang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenNguoiNhan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenNguoiTT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TongTien" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="TrangThai" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="XuatKho" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DonDatHang" nillable="true" type="tns:DonDatHang" />
  <xs:complexType name="ArrayOfDonDatHang">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DonDatHang" nillable="true" type="tns:DonDatHang" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDonDatHang" nillable="true" type="tns:ArrayOfDonDatHang" />
</xs:schema>