TMobile/WinTier/Service References/ChiTietDonHang_ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
  <xs:element name="GetChiTietDonHangById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChiTietDonHangByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetChiTietDonHangByIdResult" nillable="true" type="q1:ChiTietDonHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllChiTietDonHang">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllChiTietDonHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetAllChiTietDonHangResult" nillable="true" type="q2:ArrayOfChiTietDonHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertChiTietDonHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="obj" nillable="true" type="q3:ChiTietDonHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertChiTietDonHangResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChiTietDonHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="obj" nillable="true" type="q4:ChiTietDonHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChiTietDonHangResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChiTietDonHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChiTietDonHangResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>