TMobile/WinTier/Service References/ChiTietDonHang_ServiceReference/WcfServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ChiTietDonHang">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gia" type="xs:double" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MaDonDatHang" type="xs:int" />
      <xs:element minOccurs="0" name="MaSanPham" type="xs:int" />
      <xs:element minOccurs="0" name="SoLuong" type="xs:int" />
      <xs:element minOccurs="0" name="TongCong" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChiTietDonHang" nillable="true" type="tns:ChiTietDonHang" />
  <xs:complexType name="ArrayOfChiTietDonHang">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChiTietDonHang" nillable="true" type="tns:ChiTietDonHang" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChiTietDonHang" nillable="true" type="tns:ArrayOfChiTietDonHang" />
</xs:schema>