TMobile/WinTier/Service References/NhanVien_ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NhanVienService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INhanVienService_GetNhanVienById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNhanVienById" />
  </wsdl:message>
  <wsdl:message name="INhanVienService_GetNhanVienById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNhanVienByIdResponse" />
  </wsdl:message>
  <wsdl:message name="INhanVienService_GetAllNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNhanVien" />
  </wsdl:message>
  <wsdl:message name="INhanVienService_GetAllNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="INhanVienService_InsertNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNhanVien" />
  </wsdl:message>
  <wsdl:message name="INhanVienService_InsertNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="INhanVienService_UpdateNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNhanVien" />
  </wsdl:message>
  <wsdl:message name="INhanVienService_UpdateNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="INhanVienService_DeleteNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNhanVien" />
  </wsdl:message>
  <wsdl:message name="INhanVienService_DeleteNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNhanVienResponse" />
  </wsdl:message>
  <wsdl:portType name="INhanVienService">
    <wsdl:operation name="GetNhanVienById">
      <wsdl:input wsaw:Action="http://tempuri.org/INhanVienService/GetNhanVienById" message="tns:INhanVienService_GetNhanVienById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhanVienService/GetNhanVienByIdResponse" message="tns:INhanVienService_GetNhanVienById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/INhanVienService/GetAllNhanVien" message="tns:INhanVienService_GetAllNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhanVienService/GetAllNhanVienResponse" message="tns:INhanVienService_GetAllNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/INhanVienService/InsertNhanVien" message="tns:INhanVienService_InsertNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhanVienService/InsertNhanVienResponse" message="tns:INhanVienService_InsertNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/INhanVienService/UpdateNhanVien" message="tns:INhanVienService_UpdateNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhanVienService/UpdateNhanVienResponse" message="tns:INhanVienService_UpdateNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/INhanVienService/DeleteNhanVien" message="tns:INhanVienService_DeleteNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhanVienService/DeleteNhanVienResponse" message="tns:INhanVienService_DeleteNhanVien_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INhanVienService" type="tns:INhanVienService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNhanVienById">
      <soap:operation soapAction="http://tempuri.org/INhanVienService/GetNhanVienById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNhanVien">
      <soap:operation soapAction="http://tempuri.org/INhanVienService/GetAllNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNhanVien">
      <soap:operation soapAction="http://tempuri.org/INhanVienService/InsertNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNhanVien">
      <soap:operation soapAction="http://tempuri.org/INhanVienService/UpdateNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNhanVien">
      <soap:operation soapAction="http://tempuri.org/INhanVienService/DeleteNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NhanVienService">
    <wsdl:port name="BasicHttpBinding_INhanVienService" binding="tns:BasicHttpBinding_INhanVienService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/NhanVienService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>