TMobile/WinTier/Service References/NhanVien_ServiceReference/WcfServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NhanVien">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChucVu" type="xs:int" />
      <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoTen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaNhanVien" type="xs:int" />
      <xs:element minOccurs="0" name="NgaySinh" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SoDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NhanVien" nillable="true" type="tns:NhanVien" />
  <xs:complexType name="ArrayOfNhanVien">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NhanVien" nillable="true" type="tns:NhanVien" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNhanVien" nillable="true" type="tns:ArrayOfNhanVien" />
</xs:schema>