TMobile/WinTier/Service References/ChiTietPhieuNhap_ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
  <xs:element name="GetChiTietPhieuNhapById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChiTietPhieuNhapByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetChiTietPhieuNhapByIdResult" nillable="true" type="q1:ChiTietPhieuNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllChiTietPhieuNhap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllChiTietPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetAllChiTietPhieuNhapResult" nillable="true" type="q2:ArrayOfChiTietPhieuNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertChiTietPhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="obj" nillable="true" type="q3:ChiTietPhieuNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertChiTietPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChiTietPhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="obj" nillable="true" type="q4:ChiTietPhieuNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChiTietPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChiTietPhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChiTietPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>