TMobile/WinTier/Service References/ChiTietPhieuNhap_ServiceReference/WcfServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ChiTietPhieuNhap">
    <xs:sequence>
      <xs:element minOccurs="0" name="DonGia" type="xs:double" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MaPhieuNhap" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaSanPham" type="xs:int" />
      <xs:element minOccurs="0" name="SoLuongNhap" type="xs:int" />
      <xs:element minOccurs="0" name="TongCongNhap" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChiTietPhieuNhap" nillable="true" type="tns:ChiTietPhieuNhap" />
  <xs:complexType name="ArrayOfChiTietPhieuNhap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChiTietPhieuNhap" nillable="true" type="tns:ChiTietPhieuNhap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChiTietPhieuNhap" nillable="true" type="tns:ArrayOfChiTietPhieuNhap" />
</xs:schema>