TMobile/WinTier/Service References/ChucVu_ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ChucVuService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IChucVuService_GetChucVuById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChucVuById" />
  </wsdl:message>
  <wsdl:message name="IChucVuService_GetChucVuById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChucVuByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IChucVuService_GetAllChucVu_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllChucVu" />
  </wsdl:message>
  <wsdl:message name="IChucVuService_GetAllChucVu_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllChucVuResponse" />
  </wsdl:message>
  <wsdl:message name="IChucVuService_InsertChucVu_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertChucVu" />
  </wsdl:message>
  <wsdl:message name="IChucVuService_InsertChucVu_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertChucVuResponse" />
  </wsdl:message>
  <wsdl:message name="IChucVuService_UpdateChucVu_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateChucVu" />
  </wsdl:message>
  <wsdl:message name="IChucVuService_UpdateChucVu_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateChucVuResponse" />
  </wsdl:message>
  <wsdl:message name="IChucVuService_DeleteChucVu_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteChucVu" />
  </wsdl:message>
  <wsdl:message name="IChucVuService_DeleteChucVu_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteChucVuResponse" />
  </wsdl:message>
  <wsdl:portType name="IChucVuService">
    <wsdl:operation name="GetChucVuById">
      <wsdl:input wsaw:Action="http://tempuri.org/IChucVuService/GetChucVuById" message="tns:IChucVuService_GetChucVuById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChucVuService/GetChucVuByIdResponse" message="tns:IChucVuService_GetChucVuById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllChucVu">
      <wsdl:input wsaw:Action="http://tempuri.org/IChucVuService/GetAllChucVu" message="tns:IChucVuService_GetAllChucVu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChucVuService/GetAllChucVuResponse" message="tns:IChucVuService_GetAllChucVu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertChucVu">
      <wsdl:input wsaw:Action="http://tempuri.org/IChucVuService/InsertChucVu" message="tns:IChucVuService_InsertChucVu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChucVuService/InsertChucVuResponse" message="tns:IChucVuService_InsertChucVu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateChucVu">
      <wsdl:input wsaw:Action="http://tempuri.org/IChucVuService/UpdateChucVu" message="tns:IChucVuService_UpdateChucVu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChucVuService/UpdateChucVuResponse" message="tns:IChucVuService_UpdateChucVu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteChucVu">
      <wsdl:input wsaw:Action="http://tempuri.org/IChucVuService/DeleteChucVu" message="tns:IChucVuService_DeleteChucVu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChucVuService/DeleteChucVuResponse" message="tns:IChucVuService_DeleteChucVu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IChucVuService" type="tns:IChucVuService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChucVuById">
      <soap:operation soapAction="http://tempuri.org/IChucVuService/GetChucVuById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllChucVu">
      <soap:operation soapAction="http://tempuri.org/IChucVuService/GetAllChucVu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertChucVu">
      <soap:operation soapAction="http://tempuri.org/IChucVuService/InsertChucVu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateChucVu">
      <soap:operation soapAction="http://tempuri.org/IChucVuService/UpdateChucVu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChucVu">
      <soap:operation soapAction="http://tempuri.org/IChucVuService/DeleteChucVu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChucVuService">
    <wsdl:port name="BasicHttpBinding_IChucVuService" binding="tns:BasicHttpBinding_IChucVuService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/ChucVuService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>