TMobile/WinTier/Service References/ChucVu_ServiceReference/WcfServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ChucVu">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaChucVu" type="xs:int" />
      <xs:element minOccurs="0" name="MoTa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenChucVu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChucVu" nillable="true" type="tns:ChucVu" />
  <xs:complexType name="ArrayOfChucVu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChucVu" nillable="true" type="tns:ChucVu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChucVu" nillable="true" type="tns:ArrayOfChucVu" />
</xs:schema>