TMobile/WinTier/Service References/NhaCungCap_ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
  <xs:element name="GetNhaCungCapById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNhaCungCapByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetNhaCungCapByIdResult" nillable="true" type="q1:NhaCungCap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNhaCungCap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNhaCungCapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetAllNhaCungCapResult" nillable="true" type="q2:ArrayOfNhaCungCap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNhaCungCap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="obj" nillable="true" type="q3:NhaCungCap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNhaCungCapResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNhaCungCap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="obj" nillable="true" type="q4:NhaCungCap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNhaCungCapResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNhaCungCap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNhaCungCapResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>