TMobile/WinTier/Service References/NhaCungCap_ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NhaCungCapService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INhaCungCapService_GetNhaCungCapById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNhaCungCapById" />
  </wsdl:message>
  <wsdl:message name="INhaCungCapService_GetNhaCungCapById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNhaCungCapByIdResponse" />
  </wsdl:message>
  <wsdl:message name="INhaCungCapService_GetAllNhaCungCap_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNhaCungCap" />
  </wsdl:message>
  <wsdl:message name="INhaCungCapService_GetAllNhaCungCap_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNhaCungCapResponse" />
  </wsdl:message>
  <wsdl:message name="INhaCungCapService_InsertNhaCungCap_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNhaCungCap" />
  </wsdl:message>
  <wsdl:message name="INhaCungCapService_InsertNhaCungCap_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNhaCungCapResponse" />
  </wsdl:message>
  <wsdl:message name="INhaCungCapService_UpdateNhaCungCap_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNhaCungCap" />
  </wsdl:message>
  <wsdl:message name="INhaCungCapService_UpdateNhaCungCap_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNhaCungCapResponse" />
  </wsdl:message>
  <wsdl:message name="INhaCungCapService_DeleteNhaCungCap_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNhaCungCap" />
  </wsdl:message>
  <wsdl:message name="INhaCungCapService_DeleteNhaCungCap_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNhaCungCapResponse" />
  </wsdl:message>
  <wsdl:portType name="INhaCungCapService">
    <wsdl:operation name="GetNhaCungCapById">
      <wsdl:input wsaw:Action="http://tempuri.org/INhaCungCapService/GetNhaCungCapById" message="tns:INhaCungCapService_GetNhaCungCapById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhaCungCapService/GetNhaCungCapByIdResponse" message="tns:INhaCungCapService_GetNhaCungCapById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNhaCungCap">
      <wsdl:input wsaw:Action="http://tempuri.org/INhaCungCapService/GetAllNhaCungCap" message="tns:INhaCungCapService_GetAllNhaCungCap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhaCungCapService/GetAllNhaCungCapResponse" message="tns:INhaCungCapService_GetAllNhaCungCap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNhaCungCap">
      <wsdl:input wsaw:Action="http://tempuri.org/INhaCungCapService/InsertNhaCungCap" message="tns:INhaCungCapService_InsertNhaCungCap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhaCungCapService/InsertNhaCungCapResponse" message="tns:INhaCungCapService_InsertNhaCungCap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNhaCungCap">
      <wsdl:input wsaw:Action="http://tempuri.org/INhaCungCapService/UpdateNhaCungCap" message="tns:INhaCungCapService_UpdateNhaCungCap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhaCungCapService/UpdateNhaCungCapResponse" message="tns:INhaCungCapService_UpdateNhaCungCap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNhaCungCap">
      <wsdl:input wsaw:Action="http://tempuri.org/INhaCungCapService/DeleteNhaCungCap" message="tns:INhaCungCapService_DeleteNhaCungCap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhaCungCapService/DeleteNhaCungCapResponse" message="tns:INhaCungCapService_DeleteNhaCungCap_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INhaCungCapService" type="tns:INhaCungCapService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNhaCungCapById">
      <soap:operation soapAction="http://tempuri.org/INhaCungCapService/GetNhaCungCapById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNhaCungCap">
      <soap:operation soapAction="http://tempuri.org/INhaCungCapService/GetAllNhaCungCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNhaCungCap">
      <soap:operation soapAction="http://tempuri.org/INhaCungCapService/InsertNhaCungCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNhaCungCap">
      <soap:operation soapAction="http://tempuri.org/INhaCungCapService/UpdateNhaCungCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNhaCungCap">
      <soap:operation soapAction="http://tempuri.org/INhaCungCapService/DeleteNhaCungCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NhaCungCapService">
    <wsdl:port name="BasicHttpBinding_INhaCungCapService" binding="tns:BasicHttpBinding_INhaCungCapService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/NhaCungCapService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>