TMobile/WinTier/Service References/NhaCungCap_ServiceReference/WcfServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NhaCungCap">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiaChiNCC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailNCC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaNCC" type="xs:int" />
      <xs:element minOccurs="0" name="SoDTNCC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenNCC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NhaCungCap" nillable="true" type="tns:NhaCungCap" />
  <xs:complexType name="ArrayOfNhaCungCap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NhaCungCap" nillable="true" type="tns:NhaCungCap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNhaCungCap" nillable="true" type="tns:ArrayOfNhaCungCap" />
</xs:schema>